<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="max-age=604800" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Website title - bootstrap html template</title>

<link rel="icon" href="/images/favicon.ico" sizes="180x180" type="image/x-icon">

<!-- jQuery -->
<script src="/js/jquery-2.0.0.min.js" type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>

<!-- Font awesome 5 -->
<link href="/fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">

<!-- custom style -->
<link href="/css/ui.css" rel="stylesheet" type="text/css"/>
<link href="/css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />

<!-- plugin: slickslider -->
<link href="/plugins/slickslider/slick.css" rel="stylesheet" type="text/css" />
<link href="/plugins/slickslider/slick-theme.css" rel="stylesheet" type="text/css" />
<script src="/plugins/slickslider/slick.min.js"></script>

<!-- plugin: owl carousel  -->
<link href="/plugins/owlcarousel/assets/owl.carousel.css" rel="stylesheet">
<link href="/plugins/owlcarousel/assets/owl.theme.default.css" rel="stylesheet">
<script src="/plugins/owlcarousel/owl.carousel.min.js"></script>

<!-- ui style -->
<link href="/css/ui.css" rel="stylesheet" type="text/css"/>
<link href="/css/responsive.css" rel="stylesheet" />

<!-- ui javascript -->
<script src="/js/script.js" type="text/javascript"></script>


<!--PRODUCT PAGE CSS-->
<link rel="stylesheet" media="screen" href="/home-single-store_data/simplebar.css">
<link rel="stylesheet" media="screen" href="/home-single-store_data/tiny-slider.css">
<link rel="stylesheet" media="screen" href="/home-single-store_data/lightgallery.css">

<!-- Main Theme Styles + Bootstrap-->
<link rel="stylesheet" media="screen" href="/css/product.css">

<style type="text/css">
.slide .fa{
  color:red !important;
  background:red !important;

}  
 
</style>

<script type="text/javascript">
/// some script

// jquery ready start
$(document).ready(function() {
  // jQuery code

    if ($('.slider-banner-slick').length > 0) { // check if element exists
        $('.slider-banner-slick').slick({
              infinite: true,
              autoplay: true,
              slidesToShow: 0.1,
              dots: false,
              prevArrow: '<button type="button" class="slick-prev"><i class="fa fa-chevron-left"></i></button>',
              nextArrow: '<button type="button" class="slick-next"><i class="fa fa-chevron-right"></i></button>',
        });
    } // end if

}); 
// jquery end
</script>
</head>
<body>
    <%-include("partial/menu")%>

<main class="container page-wrapper">
  
    <div class="row align-items-center py-3 py-md-4">
      <div class="col-sm-6">
        <div class="mb-5 mb-sm-0 text-center text-sm-start" id="colorOptions">
          
          

<!-- ================== COMPONENT SLIDER  BOOTSTRAP  ==================  -->
<div id="carousel1_indicator" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="bg-danger" data-target="#carousel1_indicator" data-slide-to="0" class="active"></li>
    <li class="bg-danger" data-target="#carousel1_indicator" data-slide-to="1"></li>
    <li class="bg-danger" data-target="#carousel1_indicator" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">  
    <div class="carousel-item">
      <img class="d-block mx-auto" src="images/items/6.jpg" alt="First slide"> 
    </div>
    <div class="carousel-item">
      <img class="d-block mx-auto" src="images/items/7.jpg" alt="Second slide">
    </div>
    <div class="carousel-item active">
      <img class="d-block mx-auto" src="images/items/3.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel1_indicator" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel1_indicator" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> 
<!-- ==================  COMPONENT SLIDER BOOTSTRAP end.// ==================  .// -->  









        
        
        
        </div>
      </div>
      <div class="col-sm-6 text-sm-start">
        <h2 class="pb-2">Choose your style</h2>
        
        <p class="d-none col-sm-9 fw-medium" style="text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>

        <div class="mb-3"><span><h3 class="d-inline">$329.</h3><small>99</small></span></div>
        

        <a class="btn btn-lg btn-danger" href="#" style="background: ; color:#fff;"><i class="fa fa-shopping-cart"></i>Comprar</a>
        <a class="btn btn-lg" href="#" style="background: #000; color:#fff;"><i class="fa fa-shopping-cart"></i></a>
      </div>
    </div>

    <div class="row">
      
          <div class="col-lg-5 col-md-6 col-sm-8 offset-lg-2 offset-md-1">
            <h5 class="mb-3">Highlights</h5>
            <p class="fs-sm mb-3 mb-lg-4 pb-2 fw-medium">
            Lorem ipsum dolor sit 
            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
            proident, sunt in culpa qui officia deserunt mollit animasurel. Ut enim 
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
            aliquip ex ea commodo consequat.</p>
            
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 offset-md-1">
            <h5 class="mb-3">Detalles del Producto</h5>
            <style type="text/css">
              .spacing li{
                margin: px 0;
              }
            </style>
            <ul class="list-unstyled fs-sm mb-3 mb-lg-4 pb-1 spacing">
              <li>
                <strong>Estado:</strong> 
                Nuevo
              </li>
              
              <li>
                <strong>Marca/Modelo:</strong> 
                Sunset Sillon
              </li>
              
              <li>
                <strong>Cantidad:</strong> 
                2
              </li>

              <li>
                <strong>Color:</strong> 
                Gris
              </li>

              <li>
                <strong>Categoria:</strong>

                <span class="badge badge-pill badge-danger">Moda</span>
                <span class="badge badge-pill badge-danger">Hogar</span>
                <span class="badge badge-pill badge-danger">Decoraciones</span>
                <span class="badge badge-pill badge-danger">Moda</span>
                <span class="badge badge-pill badge-danger">Hogar</span>
                <span class="badge badge-pill badge-danger">Decoraciones</span>
                <span class="badge badge-pill badge-danger">Moda</span>
                <span class="badge badge-pill badge-danger">Hogar</span>
                <span class="badge badge-pill badge-danger">Decoraciones</span>
                <span class="badge badge-pill badge-danger">Moda</span>
                <span class="badge badge-pill badge-danger">Hogar</span>
                <span class="badge badge-pill badge-danger">Decoraciones</span>
              </li>

            </ul>
          </div>
    </div>





  </main>

  <%-include("partial/footer")%>
</body>
</html>