<footer class="section-footer" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0) !important;">
  <div class="container">
    <section class="footer-top padding-y">
      <div class="row">
        <aside class="col-md col-6">
          <h6 class="title">CONTACTOS</h6>
          <ul class="list-unstyled">
            <li> <a href="#">Contacto Directo</a></li>
            <li> <a href="#">Puma</a></li>
            <li> <a href="#">Reebok</a></li>
            <li> <a href="#">Nike</a></li>
          </ul>
        </aside>
        <aside class="col-md col-6">
          <h6 class="title">COMPAÑIA E INFORMACION</h6>
          <ul class="list-unstyled">
            <li> <a href="#">Acerca de nosotros</a></li>
            <li> <a href="#">Informacion de envios</a></li>
            <li> <a href="#">Find a store</a></li>
            <li> <a href="#">Rules and terms</a></li>
            <li> <a href="#">Sitemap</a></li>
          </ul>
        </aside>
        <aside class="col-md col-6">
          <h6 class="title">POLITICAS Y PRIVACIDAD</h6>
          <ul class="list-unstyled">
            <li> <a href="#">Privacidad</a></li>
            
          </ul>
        </aside>
        
      </div> <!-- row.// -->
    </section>  <!-- footer-top.// -->
  </div><!-- //container -->
</footer>